* {
  font-family: 'Merriweather Sans', sans;
}

.profile {
  height: 97vh;
}
.header {
  background-color: rgb(54, 54, 54);
}

.header div img {
  margin-left: 1em;
  margin-top: .75em;
  width: 1.5em;
}

.header div {
  display: inline-block;
  /*height: %;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text h1 {
  color: rgb(218, 218, 218);
  font-size: 1.3em;
  margin: .6em 0 .6em -2.25em;
}

.photo-container {
  background-image: url('./images/bkg-header.jpg');
  height: 10em;
  box-shadow: 0 2px 12px gray;
}

.photo-container img {
  width: 13em;
  padding-top: 1.75em;
}

.profile-form {
  font-size: .9em;
  width: 85%;
  margin: 0 auto;
  padding-top: 4em;
}

.profile-form textarea {
  height: 8em;
}

.profile-form label {
  font-weight: 400;
  color: rgb(137, 137, 137);
  padding-top: .5em;
  width: 100%;

}
.profile-form input, .profile-form textarea {
  background-color: rgb(235, 235, 235);
  color: rgb(160, 160, 160);
  width: 100%;
  border: 0;
  border-radius: .7em;
  padding: 1em 0 1em .5em;
  margin-top: .25em;
}

.profile-form input::placeholder, .profile-form textarea::placeholder {
  color: rgb(160, 160, 160);
}

.profile-form input:focus, .profile-form textarea:focus {
  outline: 0;
}

img.save-button {
  margin-top: .25em;
  width: 9em;
}

footer {
  background-color: rgb(54, 54, 54);
  height: 3vh;
}

/* iPhone 5, Galaxy S5*/
@media only screen and (max-width: 360px){
  .photo-container {
    height: 8em;
  }
  .photo-container img {
    width: 10.5em;
    padding-top: 1.75em;
  }
}

/* iPhone 5 */
@media only screen and (max-width: 320px){
  .profile-form {
    font-size: .8em;
  }
  .profile-form textarea {
    height: 6.5em;
  }
}
